@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            @CurrentPage.GetGridHtml("AboutUsContent")
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->
@CurrentPage.GetGridHtml("about-us")

