@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
<p>You do not have access</p>
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->